.header{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    z-index: 200;
    position: fixed;
    top: 0;
    background-color: #000015;
}
.header__logo{
    height: 150px;
}
.header__icons{
    margin-left: 40px;
}
.header__box{
    background-color: #000034;
    padding: 20px;
    height: 80px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.header__home{
    color: #99afdd;
    padding: 10px;
}
.header__text{
    color: white;
}